*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.animation{
    background-image: url(lov1.jpg); 
    background-size: cover;
    background-repeat:no-repeat;
    background-position: center;
    width:100vw;
    height: 100vh;
    transition: 5s;
    position: relative;
    display:flex;
    justify-content: center;
    animation: animate 10s ease-in-out 5s infinite alternate-reverse forwards;

}

@keyframes animate{
  0%{
    background-image: url(lov3.jpg);
  }
  20%{
    background-image: url(lov4.jpg);
  }
  40%{
    background-image: url(lov5.jpg);
  }
  60%{
    background-image: url(lov6.jpg);
  }
  80%{
    background-image: url(lov7.jpg);
  }
  100%{
    background-image: url(lov8.jpg);
  }
}
.text{
    display:flex;
    justify-content: center;
    align-items:flex-start;
    flex-direction: column;
    padding-left:200px;
    animation: text-effect 3s;
   
    
}




@keyframes text-effect{
  from{
    transform: translateX(-300%);
  }
}
h1{
  position: absolute;
  top:5%;
  left: 5%;
  background-size:400% ;  
 font-size:70px;
 letter-spacing: 5px;
 text-transform: uppercase;
 font-weight: 500px;
 word-spacing: 5px;
background:linear-gradient(360deg, orange,yellow,blue,red,green);
-webkit-text-fill-color:transparent ;
-webkit-background-clip: text;

}


p{

 background-size:400% ;  
 font-size:30px;
 letter-spacing: 5px;
 font-weight: 500px;
 word-spacing: 5px;
background:linear-gradient(90deg, green, yellow,blue,red,orange);
-webkit-text-fill-color:transparent ;
-webkit-background-clip: text;
animation: animatetext 2s linear infinite;

}
@keyframes animatetext{
  
  0%{
    background-position: 0%;
    opacity:0;
  }  
  40%{
    opacity:0.5;
    font-size: 40px;
  }
  70%{
    opacity:0.8;
    font-size: 45px;
  }
  100%{
    background-position: 400%;
    opacity:1;
    font-size:50px;
  }
}

.h1{
  position: absolute;
  color:cornflowerblue;
  transform: translate(-50%,-50%);
  font-size: 8em;
}
 h1:nth-child(1)
{
  color:transparent;
  -webkit-text-stroke:2px white; 
}
 h1:nth-child(2)
{
  color: blue;
  animation:text 2s linear infinite;

}
@keyframes text{
  0%,100%{
      clip-path: polygon(0% 45%,15% 44%, 32% 50%,54% 60%,70% 61%, 84% 59%,100% 52%,100% 100%,0% 100%);
  }
  50%{
      clip-path: polygon(0% 60%,16% 65%, 34% 66%,51% 62%,67% 50%, 84% 45%,100% 46%,100% 100%,0% 100%);
  }
}

a{
    
    width:250px;
    height:50px;
    font-size: 40px;
    position: absolute;
    bottom:20px;
    padding-left: 50px;
    border:none;
    text-transform: uppercase;
    text-decoration: none;
    overflow: hidden;
    
    
}
a:hover{
  color: #050801;
  background:linear-gradient(90deg, yellow,green,blue,orange,red);
    box-shadow: 0 0 5px rgb(122, 219, 32),
    0 0 25px rgb(122, 219, 32),
    0 0 50px rgb(122, 219, 32),
    0 0 200px rgb(122, 219, 32);
}
a span:nth-child(1){
  width:100%;
  height:2px;
  background: linear-gradient(90deg,transparent,yellow ,green,blue,orange);
   animation: mov 1s linear infinite;
}
@keyframes mov{
  0%{
      left: -100%;
  }
  50%,100%{
      left:100%;
  }
}


a span:nth-child(2){
    width:100%;
    height:2px;
    background: linear-gradient(180deg,transparent,rgba(122,219,32));
     animation: move 1s linear infinite;
}
@keyframes move{
    0%{
        top: -100%;
    }
    50%,100%{
        top:100%;
    }
}

a span:nth-child(3){
    width:100%;
    height:2px;
    background: linear-gradient(270deg,transparent,rgba(122,219,32));
     animation: moveone 1s linear infinite;
}
@keyframes moveone{
    0%{
        left: -100%;
    }
    50%,100%{
        left:100%;
    }
}

a span:nth-child(4){
    width:100%;
    height:2px;
    background: linear-gradient(360deg,transparent,rgba(122,219,32));
     animation: movetwo 1s linear infinite;
}
@keyframes movetwo{
    0%{
        top: -100%;
    }
    50%,100%{
        top:100%;
    }
}


span{
    position:absolute;
    pointer-events: none;
    filter:drop-shadow(0 0 15px rgba(0,0,0,0.5));
    animation:fadeInOut 1s linear infinite;
}

@keyframes fadeInOut
{
    0%,100%{
        opacity:0;
    }
    20%,80%{
        opacity:1;
    }
}

span::before{
    content:'';
    position: absolute;
    width:100px;
    height:100px;
    background-image: url(love.jpg);
    background-size: cover;
    animation:moveshape 1s linear infinite;

}

@keyframes moveshape{
    0%{
        transform: translate(0) rotate(0 deg);
    }
    100%{
        transform: translate(360px) rotate(360deg);
    }
}